nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #252525;
    border-bottom: 1px solid #707070;
    box-shadow: 1px 1px 5px 5px #1f1f1f;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    transition: all 0.5s ease;
}

sub {
  position: absolute;
  top: 17px;
  color: white;
  display: flex;
}

.navbar {
    left: 0;
    right: 0;
    margin: auto;
    height: 56px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    transition: all 0.5s ease;
}

li {
    padding: 19px 5px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

li:hover {
    padding: 19px 5px;
    transition: 0.5s ease;
    background: #4287f5;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    font-size: 16px;
    margin-left: 2px;
    float: right;
}

footer {
    position:fixed;
    display:flex;
    top:90%;
    left:0%;
    justify-content: center;
    width:100%;
    height:10%;
    padding-top: 1.8%;
    background-color:#cccccc;
}
