/*
Team Caffeine: Sophie Liu, Ryan Wang
SoftDev
K20: Throw Some Forking STUYLE On It
2021-11-29
 */

:root {
  --black: #0E1116;
  --blue: #374A67;
  --blue_grey: #616283;
  --dark_pink: #A07E9D;
  --lilac: #CB9CF2;
  --font: "Fira Mono", monospace;
  --my-margin: 10px;
}

body {
  background-color: var(--blue_grey);
  font-family: var(--font);
}
.bodycontent {
  background-color:var(--dark_pink);
}

#username {
  color: var(--blue);
}

#username::before {
  content: "USER: ";
  margin: var(--my-margin)
}

u {
  color: var(--blue);
}

footer {
  background-color: var(--blue);
  color: var(--lilac)
}

nav {
  background-color: var(--lilac);
}
