/*------------------navigation bar css---------------------*/
nav {
  position: absolute;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  top:0px;
  left:0px;
  width:100%;
  height:5%;
  background-color: #87CEEB;
}

.innernav {
  display: flex;
  align-items: center;
  width:60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#home, #login, #signup, #create, #username {
  display: flex;
  align-items: center;
  height:100%;
  padding-left: 5px;
  padding-right: 5px;
}

#home:hover, #login:hover, #signup:hover, #create:hover {
  transition: all 0.3s ease;
  background-color: pink;
  text-shadow: 0px 0px 1px black;
}

.navbuttons {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*--------------------body css---------------------*/

content {
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top:5%;
  left:0px;
  height: 90%;
  width:100%;
}

/* .bodycontent {
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 5px;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #c4ecec;
}

/*---------------------footer css---------------------*/

footer {
  position:fixed;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top:95%;
  left:0%;
  width:100%;
  height:5%;
  background-color:#87CEEB;
}
