/*------------------navigation bar css---------------------*/
nav {
  position: absolute;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  top:0px;
  left:0px;
  width:100%;
  height:5%;
  background-color: #87CEEB;
}

.innernav {
  display: flex;
  align-items: center;
  width:60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#home, #login, #signup, #create, #username, #logout {
  display: flex;
  align-items: center;
  height:100%;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}

#home:hover, #login:hover, #signup:hover, #create:hover, #logout:hover {
  transition: all 0.3s ease;
  background-color: pink;
  text-shadow: 0px 0px 1px black;
}

.navbuttons {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*--------------------body css---------------------*/

overflow:scroll {
    overflow-y: scroll;
}

content {
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  top:5%;
  left:0px;
  height: 90%;
  width:100%;
}

.bodycontent {
  width: 50%;
  height: 100%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow-y: auto;
}

body {
  background-color: #c4ecec;
}

input[type=text], input[type=password] {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
}

input[type=submit] {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #87CEEB;
  width: 100%;
  border: none;
  padding: 6px 10px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: pink;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #c4ecec;
  transition: all 0.5s ease;
  outline: none;
}

textarea {
    border: 1px solid black;
    border-radius: 2px;
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    resize: none;
}

textarea:focus {
    background-color: #c4ecec;
    transition: all 0.5s ease;
    outline: none;
}

#mainlinks {
  list-style-type: none;
}

#update {
  font-size: 14px;
}

/*---------------------error css---------------------*/

#error_message {
  color: red;
  text-decoration: bold;
}

/*---------------------footer css---------------------*/

footer {
  position:fixed;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top:95%;
  left:0%;
  width:100%;
  height:5%;
  background-color:#87CEEB;
}
