{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if my == true -%}
    <h1> Your Blogs </h1>
    {% for item in blogs %}
      <p><li><a href="/view?a={{ item[2] }}&id={{item[3]}}">
        {{ item[1] }} 
      </a></li><p>
    {% endfor %}  
  {% else -%}
    <h1> All Blogs </h1>
    {% for item in blogs %}
      <p><li><a href="/view?a={{ item[2] }}&id={{item[3]}}">
        {{ item[1] }} by {{ item[2] }}
      </a></li><p>
    {% endfor %}
  {% endif %}  
{% endblock %}
