{% extends "layout.html" %}
{% block title %} Edit Page {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1> Edit {{ name }}  </h1>
  {% for entry in contents|reverse %}
  <form action='/edit?a={{ author }}&id={{ bid }}' method='POST'>
    Entry {{ num_entries - loop.index }}: <textarea rows=20 name=edit_blog_contents>{{ entry }}</textarea> <br>
    <input type=hidden name=edit_bid value={{ num_entries - loop.index }} readonly>
  <!-- This displays a form where you can edit an entry to a blog. It only has
  a textarea and a submit button. In the textarea, it shows the current entry
  which you can modify. -->
    <input type=submit value=Submit>
  </form>
  <br> <br>
  {% endfor %}
{% endblock %}
