{% extends "layout.html" %}
{% block title %} Edit Page {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- This displays a form where you can edit an entry to a blog. It only has
  a textarea and a submit button. In the textarea, it shows the current entry
  which you can modify. -->
  <h1> Edit Existing Blog </h1>
  <form action='/edit' method='POST'>
    Name of Blog: <input type=text name=edit_blog_name value={{name}}> <br>
    Contents: <textarea rows=20 name=edit_blog_contents>{{contents}}</textarea> <br>
    <input type=hidden name=edit_blog_id value={{edit_blog_id}} readonly>
    <input type=submit value=Submit>
  </form>
{% endblock %}
