{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if user %}
  <h1>Welcome to The Best Blog, <u>{{ user }}</u>. </h1>
  {% else %}
  <h1>Welcome to The Best Blog </h1>
  {% endif %}
  <div id = "error_message">
    {{ message }}
  </div>
  <p> What will you do today? </p>
  <ul>
    <div id = "mainlinks">
      {%if user %}
	  <li><a href="/all?a=t">My Blogs</a></li>
	  {% endif %}
      <li><a href="/all">All Blogs</a></li>
      <li><a href="/random">Random Blog</a></li>
    </div>
  </ul>
{% endblock %}
