<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css" />
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="innernav">
        <a id="home" href="/"> Home </a>
        <div class="navbuttons">
          {% if user %}
          <p id="username">{{ user }}</p>
          <a id="logout" href="/logout"> Logout </a>
          {% else %}
          <a id="login" href="/login"> Login </a>
          <a id="signup" href="/signup"> Signup </a>
          {% endif %}
          <a id="create" href="/create"> New Blog (W.I.P.) </a>
        </div>
      </div>
    </nav>
    <content>
      <div class="bodycontent">{% block content %} {% endblock %}</div>
    </content>
    <footer>
      {% block footer %} Created by: The Best Cameron | Cameron Nelson, Kevin
      Cao, Alif Abdullah, Jonathan Wu {% endblock %}
    </footer>
  </body>
</html>
