<!DOCTYPE html>
<! link rel="stylesheet" href="/static/css/style.css">
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
      <nav>
        <div class = "navbar">
          <ul class = "menu">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          </ul>
        </div>
      </nav>
      <sub>
      {% block content %}{% endblock %}
      </sub>
    <footer>
      {% block footer %} Created by The Best Cameron</a>. {% endblock %}
    </footer>
  </body>
</html>
