{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Shows all the entries in the blog -->
  <h1> {{ title }} </h1>
  <h4> By {{ byUser }} </h4>
  <!-- If user owns that blog, they are allowed to update and edit it -->
  {% if byUser == user %}
  <a id="update" href="/update?s={{ blog_id }}">(Update)</a> <a id="update" href="/edit?a={{ byUser }}&id={{ blog_id }}">(Edit)</a> <br><br>
  {% endif %}
  {% for entry in blog_content|reverse %}
    {% if loop.index != 1 %}
    <br> <hr> <br>
    {% endif %}
    {% for i in entry %}
      {{ i }}
      <br>
    {% endfor %}
  {% endfor %}
{% endblock %}
